/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #d3d3d3;  
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: #e67e22; 
}

p, li, a {
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navbar */
.navbar {
  background-color: #333;
  border-bottom: 2px solid #444;
}

.navbar-nav .nav-link {
  color: #d3d3d3;
}

.navbar-nav .nav-link:hover {
  color: #f39c12;  
}


/* Hero Section */
#home {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  overflow: hidden;
}

#name {
  font-size: 8rem;  
  color: #e67e22;  
}

.profile-img {
  width: 450px;  
  height: 450px;
  border: 5px solid #3498db;  
  z-index: 2;
}

.image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://static.vecteezy.com/system/resources/previews/002/949/141/non_2x/programming-code-coding-or-hacker-background-vector.jpg') no-repeat center center;
  background-size: cover;
  z-index: 1;
  opacity: 0.5;
}

.container {
  z-index: 2;
}
/* About Section */
.about-section {
  background-color: #1c1c1c;
  padding: 100px 0;
}

.about-section h2 {
  font-size: 3.5rem;
  color: #f39c12;
}

.about-section p {
  font-size: 1.5rem;
  color: #ecf0f1;
}

/* Project Cards */
.card {
  background-color: #222;  
  border: none;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;  
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

/* Button Styling */
.skill-btn, .project-btn {
  background-color: #f39c12;  
  color: white;
  border: 2px solid transparent;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.skill-btn:hover, .project-btn:hover {
  background-color: #3498db;  
  border-color: #3498db;
  transform: scale(1.1);
}

/* Skills Section */
.skill-section {
  text-align: center;
  margin-top: 50px;
}

.skill-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Handles Section */
#handles a {
  margin: 10px;
  width: 200px;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease;
}
/* Contact Section */
.contact-section {
  background-color: #1c1c1c;
  padding: 100px 0;
}

.contact-section h2 {
  font-size: 3.5rem;
  color: #e67e22;
}

.contact-section p {
  font-size: 1.5rem;
  color: #ecf0f1;
}

.contact-info a {
  color: #e67e22;
  text-decoration: none;
}

.contact-info a:hover {
  color: #3498db;
}

#handles a:hover {
  background-color: #f39c12;
}
